.lblname {
  font-weight: 600;
}
#nav-fixed {
  position: fixed;
  width: auto;
}
.link:hover {
  text-decoration: none;
}
.rightbtn {
  float: right;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.btn1,
.delete-btn,
.option-btn {
  display: block;
  width: 100%;
  border-radius: 0.2rem;
  color: var(--white);
  font-size: 1.2rem;
  cursor: pointer;
  padding: 1rem;
  text-transform: capitalize;
  text-align: center;
  margin-top: 1rem;
}

.btn1 {
  background-color: #32618e;
}

.delete-btn {
  background-color: #32618e;
}

.option-btn {
  background-color: #32618e;
}

.btn1:hover {
  background-color: #32788e;
  color: #fff;
  text-decoration: none;
}

.delete-btn:hover {
  background-color: #32788e;
  color: #fff;
  text-decoration: none;
}

.option-btn:hover {
  background-color: #32788e;
  color: #fff;
  text-decoration: none;
}

.imgs {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
