.content {
    display: none;
    overflow: hidden;
}

.loader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* background-color:#16191e; */
    position: center;
}

.loader>div>img {
    height: 500px;
    width: 500px;
    position: absolute;
    margin: auto;
    top: auto;
    bottom: auto;
    left: 0;
    right: 0;


}

body.noscroll {
    overflow: hidden;
}